[Flow]
Case: S15-31112
ClinicalHistory: 66-year-old man with lymphadenopathy
HemeWBC: 8
HemeHGB: 10
HemeHCT: 30
HemePLT: 107
Strategy:lymphocytes(low SS, low FS)(45%)

Cytospin: Numerous granular neutrophils are seen.
Interpretation: Flow cytometric analysis was performed to evaluate the case. A panel of antibodies was used, and this included _IHC_. ______. See attached flow cytometry report for additional details. 
Diagnosis: Follicular Lymphoma
Pathologist: GV, EC

[Form]
List: CD1,CD2,CD3,CD4,CD5,CD6,CD7,CD8

[IHC]
CD3: 2.3
CD4: 1.0
CD5: 16

